<div class="row">
  <div class="large-3 columns">&nbsp;</div>
  <div class="large-6 columns">
      <% @problems.each do |problem| %>
        <h1><%= link_to problem.name, problem %><small> <%= problem.cached_votes_score %></small></h1>
      <% end %>
  </div>
<div class="large-3 columns">&nbsp;</div>
</div>
